.App {
  margin: 0%;
  padding: 0%;
  text-align: center;
}
.home{
  background-color: aquamarine;

}

.book{
  background-color: rgb(220, 203, 236);
}
.navbar{
  background-color: bisque;
  justify-content: end;
}


